crates/agglayer-grpc-client/src/generated/** linguist-generated=true
crates/agglayer-grpc-server/src/generated/** linguist-generated=true
crates/agglayer-grpc-types/src/generated/** linguist-generated=true
