[workspace]
resolver = "2"
default-members = ["crates/agglayer"]
members = ["crates/*", "tests/integrations"]
exclude = ["crates/pessimistic-proof-program"]

[workspace.package]
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[workspace.lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = [
    'cfg(feature, values("cargo-clippy"))',
] }

[workspace.dependencies]
# Project dependencies
agglayer-aggregator-notifier = { path = "crates/agglayer-aggregator-notifier" }
agglayer-certificate-orchestrator = { path = "crates/agglayer-certificate-orchestrator" }
agglayer-clock = { path = "crates/agglayer-clock" }
agglayer-config = { path = "crates/agglayer-config" }
agglayer-contracts = { path = "crates/agglayer-contracts" }
agglayer-node = { path = "crates/agglayer-node" }
agglayer-primitives = { path = "crates/agglayer-primitives" }
agglayer-rate-limiting = { path = "crates/agglayer-rate-limiting" }
agglayer-signer = { path = "crates/agglayer-signer" }
agglayer-storage = { path = "crates/agglayer-storage" }
agglayer-telemetry = { path = "crates/agglayer-telemetry" }
agglayer-types = { path = "crates/agglayer-types" }
agglayer-utils = { path = "crates/agglayer-utils" }
pessimistic-proof = { path = "crates/pessimistic-proof" }
pessimistic-proof-core = { path = "crates/pessimistic-proof-core" }
pessimistic-proof-test-suite = { path = "crates/pessimistic-proof-test-suite" }

agglayer-prover = { git = "https://github.com/agglayer/provers.git" }
agglayer-prover-config = { git = "https://github.com/agglayer/provers.git" }
agglayer-prover-types = { git = "https://github.com/agglayer/provers.git" }
prover-config = { git = "https://github.com/agglayer/provers.git" }

# Core dependencies
alloy = { version = "0.8.1", features = ["full"] }
anyhow = "1.0.95"
arc-swap = "1.7.1"
async-trait = "0.1.85"
base64 = "0.22.0"
bincode = "1.3.3"
buildstructor = "0.5.4"
clap = { version = "4.5.26", features = ["derive", "env"] }
dirs = "5.0.1"
dotenvy = "0.15.7"
ethers = "2.0.14"
ethers-gcp-kms-signer = "0.1.5"
ethers-signers = "2.0.14"
futures = "0.3.31"
hex = "0.4.3"
hyper = "1.6.0"
jsonrpsee = { version = "0.24.7", features = ["full"] }
lazy_static = "1.5.0"
parking_lot = "0.12.3"
pin-project = "1.1.8"
serde = { version = "1.0.217", features = ["derive"] }
serde_json = "1.0.138"
serde_with = "3.12.0"
thiserror = "2.0.11"
tokio = { version = "1.43.0", features = ["full"] }
tokio-stream = { version = "0.1.17", features = ["sync"] }
tokio-util = "0.7.13"
toml = "0.8.15"
tonic = { version = "0.12.3", default-features = false }
tower = "0.4.13"
tracing = "0.1.41"
tracing-appender = "0.2.3"
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
url = { version = "2.5.4", features = ["serde"] }

# Test dependencies
fail = { version = "0.5.1", default-features = false }
insta = { git = "https://github.com/freyskeyd/insta", branch = "chore/updating-deps-to-avoid-serialize-error", features = [
    "toml",
    "yaml",
] }
mockall = "0.13.1"
rand = "0.8.5"
rstest = "0.22.0"
test-log = "0.2.16"

# SP1 dependencies
sp1-core-machine = "=4.0.0"
sp1-sdk = "=4.0.0"
sp1-prover = "=4.0.0"
