[workspace]
resolver = "2"
default-members = ["crates/agglayer"]
members = ["crates/*"]

[workspace.package]
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[workspace.dependencies]
anyhow = "1.0.81"
async-trait = "0.1.80"
buildstructor = "0.5.4"
clap = { version = "4.4.6", features = ["derive", "env"] }
dotenvy = "0.15.7"
ethers = "2.0.14"
ethers-gcp-kms-signer = "0.1.5"
futures = "0.3.30"
hex = "0.4.3"
jsonrpsee = { version = "0.22.5", features = ["full"] }
lazy_static = "1.4.0"
serde = { version = "1.0.197", features = ["derive"] }
serde_json = "1.0.116"
serde_with = "3.7.0"
thiserror = "1.0.58"
tokio = { version = "1.36.0", features = ["full"] }
tokio-util = "0.7.11"
toml = "0.8.12"
tower = "0.4.13"
tracing = "0.1.40"
tracing-appender = "0.2.3"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
url = { version = "2.5.0", features = ["serde"] }
