extend = [
    { path = "Makefile.ci.toml" },
    { path = "Makefile.e2e.toml" },
    { path = "Makefile.pp.toml" },
    { path = "Makefile.proto.toml" },
]

[config]
skip_core_tasks = true
time_summary = true
reduce_output = true
default_to_workspace = false
