[package]
name = "agglayer-node"
version.workspace = true
edition.workspace = true

[dependencies]
anyhow.workspace = true
buildstructor.workspace = true
ethers.workspace = true
futures.workspace = true
hex.workspace = true
hyper = "1.4.1"
jsonrpsee = { workspace = true, features = ["full"] }
parking_lot.workspace = true
pin-project = "1.1.6"
reqwest = "0.12.8"
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
serde_with.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["full"] }
tokio-util.workspace = true
tokio-stream = "0.1.15"
toml.workspace = true
tower-http = { version = "0.6.1", features = ["full"] }
tower.workspace = true
tracing-subscriber = { workspace = true, features = ["env-filter", "json"] }
tracing.workspace = true

agglayer-config = { path = "../agglayer-config" }
agglayer-contracts = { path = "../agglayer-contracts" }
agglayer-clock = { path = "../agglayer-clock" }
agglayer-rate-limiting = { path = "../agglayer-rate-limiting" }
agglayer-telemetry = { path = "../agglayer-telemetry" }
agglayer-types = { path = "../agglayer-types" }
agglayer-signer = { path = "../agglayer-signer" }
agglayer-storage = { path = "../agglayer-storage" }
agglayer-certificate-orchestrator = { path = "../agglayer-certificate-orchestrator" }
pessimistic-proof = { path = "../pessimistic-proof" }
agglayer-aggregator-notifier = { path = "../agglayer-aggregator-notifier" }

[dev-dependencies]
ethers.workspace = true
insta = { version = "1.39.0", features = ["json"] }
jsonrpsee-test-utils = { git = "https://github.com/paritytech/jsonrpsee.git", tag = "v0.24.7" }
rstest.workspace = true
serde_json.workspace = true
hyper-util = { version = "0.1.6", features = ["client"] }
http-body-util = "0.1.2"
rand.workspace = true
test-log.workspace = true
tokio = { workspace = true, features = ["full", "test-util"] }
tracing-capture = "0.1.0"

agglayer-config = { path = "../agglayer-config", features = ["testutils"] }
agglayer-clock = { path = "../agglayer-clock", features = ["testutils"] }
agglayer-storage = { path = "../agglayer-storage", features = ["testutils"] }
agglayer-types = { path = "../agglayer-types", features = ["testutils"] }
agglayer-prover = { path = "../agglayer-prover", features = ["testutils"] }

[features]
default = ["sp1"]
sp1 = []
