[package]
name = "agglayer-node"
version.workspace = true
edition.workspace = true

[dependencies]
anyhow.workspace = true
buildstructor.workspace = true
ethers.workspace = true
futures.workspace = true
hex.workspace = true
# Fixed until jsonrpsee update to hyper 1.0
hyper = "0.14.20"
jsonrpsee = { workspace = true, features = ["full"] }
lazy_static.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
serde_with.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["full"] }
tokio-util = { workspace = true }
toml.workspace = true
# Fixed until jsonrpsee update to hyper 1.0
tower-http = { version = "0.4.0", features = ["full"] }
tower.workspace = true
tracing-subscriber = { workspace = true, features = ["env-filter", "json"] }
tracing.workspace = true

agglayer-config = { path = "../agglayer-config" }
agglayer-clock = { path = "../agglayer-clock" }
agglayer-telemetry = { path = "../agglayer-telemetry" }
agglayer-signer = { path = "../agglayer-signer" }

[dev-dependencies]
jsonrpsee-test-utils = { git = "https://github.com/paritytech/jsonrpsee.git", tag = "v0.22.3" }
serde_json = "1.0.116"
agglayer-config = { path = "../agglayer-config", features = ["testutils"] }
