[package]
name = "agglayer-config"
version.workspace = true
edition.workspace = true

[dependencies]
dirs.workspace = true
ethers.workspace = true
humantime-serde = "1.1.1"
jsonrpsee.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_with.workspace = true
tracing.workspace = true
tracing-appender.workspace = true
tracing-subscriber = { workspace = true, features = ["env-filter"] }
url = { workspace = true, features = ["serde"] }

[dev-dependencies]
pretty_assertions = "1.4.0"
rstest.workspace = true
serde_json = { workspace = true }
toml.workspace = true

[features]
default = []
testutils = []
