[package]
name = "agglayer-clock"
version.workspace = true
edition.workspace = true

[dependencies]
async-trait.workspace = true
chrono = { version = "0.4", default-features = false, features = ["clock"] }
ethers = { workspace = true, features = ["ws"] }
fail.workspace = true
futures.workspace = true
tokio.workspace = true
tokio-util.workspace = true
thiserror.workspace = true
tracing.workspace = true

[dev-dependencies]
fail = { workspace = true, features = ["failpoints"] }
rstest.workspace = true
test-log.workspace = true
