[package]
name = "agglayer-settlement-service"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
agglayer-config.workspace = true

[dev-dependencies]

[lints]
workspace = true
