[package]
name = "agglayer-utils"
version.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
eyre.workspace = true
flate2.workspace = true
tar.workspace = true
tracing.workspace = true
